<html lang="en">
<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <!-- Menu -->
    <%- partial('_partial/menu') %>



    <!-- Footer -->
    <%- partial('_partial/footer') %>

    <!-- end of page scripts -->
    <%- partial('_partial/end-scripts') %>
</body>

</html>