:root {
    --grey-light-text: #878d94;
    --footer-height: 170px
}

main {
    min-height: calc(100vh - 170px);
}

a {
    color: #333;
}

a:hover {
    color: #f94401;
    transition: 0.3s;
}

#page-footer {
    box-shadow: 0px -2px 0px 0px #efefef;
    background-color: #e0e0e0;
    min-height: var(--footer-height);
    color: #fff;
}

#page-footer p {
    margin-bottom: 0.4rem;
}

#page-footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed #d3eaff;
}

#page-footer a:hover{
    border-bottom-color: transparent;
    text-shadow: #fff 1px 0 3px;
    transition: text-shadow 0.3s ease, border-bottom-color 0.3s ease;
}

#footer-icons a{
    display: inline-block;
    padding: 5px;
    border-bottom: none;
    font-size: 2rem;
}

article.blog-item {
    background-color: #f7f7f7
}

article.blog-item h3 {
    font-weight: 300;
    font-size: 1.5rem;
}

article.blog-item .meta {
    font-size: 18px;
    font-style: italic;
    color: var(--grey-light-text);
}

.blog-meta a {
    color: var(--grey-light-text);
}

p.subtitle {
    font-weight: 300;
    font-size: 1.5rem;
}

.archive-post{
    background-color: #f7f7f7;
    padding: 10px 25px 5px;
}

#blog-page {
    max-width: 750px;
    margin: 0px auto;
}

#blog-page .highlight {
    background: #2d2d2d;
    margin: 0 -12px;
    padding: 15px 12px 4px 12px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    overflow: auto;
    color: #ccc;
    line-height: 25.6px;
    border-radius: 16px;
    background: #333;
    margin: 1px 10px 1px 10px;
    border: 3px solid #eeeeee;
}

#blog-page .highlight figcaption {
    font-size: 0.85em;
    color: #999;
    line-height: 1em;
    margin-bottom: 1em;
}

#blog-page .highlight table {
    margin: 0;
    width: auto;
}

#blog-page .highlight td {
    border: none;
    padding: 0;
}

#blog-page .gutter pre {
    text-align: right;
    padding-right: 20px;
    color: #ffffff;
}

#blog-page .gutter pre span::after {
    content: ':'
}

#blog-page .code pre {
    padding-right: 20px;
    color: #ffffff;
}