:root{
    --grey-light-text: #878d94;
}

a{
    color: #333;
}

a:hover{
    color: #f94401;
    transition: 0.3s;
}

#page-footer{
    box-shadow: 0px -2px 0px 0px #efefef;
    background-color: #e0e0e0;
}

#page-footer a{
    text-decoration: underline;
}

#page-footer p{
    margin-bottom: 0.4rem;
}

article.blog-item{
    background-color: #f7f7f7
}

article.blog-item h3{
    font-weight: 300;
    font-size: 1.5rem;
}

article.blog-item .meta{
    font-size: 18px;
    font-style: italic;
    color: var(--grey-light-text);
}

#blog-page{
    max-width: 750px;
    margin: 0px auto;
}

.blog-meta a{
    color: var(--grey-light-text);
}

p.subtitle{
    font-weight: 300;
    font-size: 1.5rem;
}