<% if (item.categories && item.categories.length){ %>
<%
        var categories = [];
        item.categories.forEach(function(category){
            categories.push('<a class="mr-2" href="' + config.root + category.path + '"><i class="fas fa-folder-open mr-1"></i>' + category.name + '</a>');
        });
    %>
<span>
    <%- categories.join(' / ') %>
</span>
<% } %>