<% if (item.tags && item.tags.length){ %>
<%
        var tags = [];
        item.tags.forEach(function(tag){
            tags.push('<a class="mr-2" href="' + config.root + tag.path + '"><i class="fas fa-tag mr-1"></i>' + tag.name + '</a>');
        });
    %>
<span>
    <%- tags.join(' ') %>
</span>
<% } %>