<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>© Copyright 2019, Andy Preston</p>
                <a href="https://github.com/AndyPresto/bootstrap-blog-theme">Theme source code here</a>
            </div>
        </div>
    </div>
</footer>