<footer id="page-footer">
    <div class="container pb-5 pt-4">
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <p><a href="#">Blog Archive</a></p>
                <p><a href="#">Tags</a></p>
                <p><a href="#">Categories</a></p>
            </div>
            <div class="col-12 col-md-4 ">
                <p>© Copyright 2019, Andy Preston</p>
                <p><a href="#">Contact Me</a></p>
                <p><a href="https://github.com/AndyPresto/bootstrap-blog-theme">Theme source code here</a></p>
            </div>
            <div class="col-12 col-md-4 ">
                <p><a href="#">Terms and conditions</a></p>
                <p><a href="#">Cookies</a></p>
            </div>
        </div>
    </div>
</footer>


<!-- Google Analytics -->
<%- partial('google-analytics') %>